@page "/AppointmentBooking"
<link href="css/AppointmentBooking/MainLayout.css" rel="stylesheet" />

<PageTitle>Đặt lịch</PageTitle>


<section id="hero" class="hero section light-background">
    <div class="container position-relative booking-container">
        <div class="row gy-4 align-items-start">
            <div class="col-lg-4 d-flex">
                <div class="left-panel">
                    <h4 class="info-title">Thông tin lịch hẹn</h4>
                    <p>Chuyên khoa: Tai, mũi, họng</p>
                    <p>Dịch vụ: Khám DV Khu E - Có BHYT</p>
                </div>
            </div>
            <div class="col-lg-8 d-flex">
                <div class="right-panel">
                    <SelectSpecialty></SelectSpecialty>
                </div>
            </div>
        </div>
    </div>
</section>



