@rendermode InteractiveServer


<div>
    <h4 class="info-title">Vui lòng chọn bác sĩ</h4>

    <EditForm Model="SearchData" OnValidSubmit="HandleSearch">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="search-box">
            <InputText class="form-control" @bind-Value="SearchData.Keyword" placeholder="Tìm nhanh bác sĩ..." />
            <button type="submit" class="ms-2 btn btn-light searchBtn">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </EditForm>

    <div class="list-specialty-container">
        @foreach (var doctor in Doctors)
        {
            <div class="list-specialty-item" @onclick="() => HandleDoctorSelection(doctor)">
                <div class="list-specialty-title">@doctor.FullName</div>
                @if (!string.IsNullOrEmpty(doctor.Speciality.SpecialtyName))
                {
                    <div class="list-specialty-description">@doctor.Speciality.SpecialtyName</div>
                }
            </div>
        }

        @if (!Doctors.Any())
        {
            <div class="no-results">Không tìm thấy bác sĩ phù hợp.</div>
        }
    </div>
</div>