@rendermode InteractiveServer

<link href="css/AppointmentBooking/MainLayout.css" rel="stylesheet" />

<div>
    <h4 class="info-title">Vui lòng chọn chuyên khoa</h4>

    <EditForm Model="SearchData" OnValidSubmit="HandleSearch">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="search-box">
            <InputText class="form-control" @bind-Value="SearchData.Keyword" placeholder="Tìm nhanh chuyên khoa..." />
            <button type="submit" class="ms-2 btn btn-light searchBtn">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </EditForm>

    <div class="list-specialty-container">
        @foreach (var specialty in Specialties)
        {
            <div class="list-specialty-item" @onclick="() => HandleSpecialtySelection(specialty)">
                <div class="list-specialty-title">@specialty.SpecialtyName</div>
                @if (!string.IsNullOrEmpty(specialty.Description))
                {
                    <div class="list-specialty-description">@specialty.Description</div>
                }
            </div>
        }

        @if (!Specialties.Any())
        {
            <div class="no-results">Không tìm thấy chuyên khoa phù hợp.</div>
        }
    </div>
</div>