<link href="css/AppointmentBooking/MainLayout.css" rel="stylesheet" />

<div>
    <div>
        <h4 class="info-title">Vui lòng chọn dịch vụ</h4>
    </div>
    <div class="service-table-container">
        <table class="service-table">
            <thead>
                <tr>
                    <th>Tên dịch vụ</th>
                    <th>Giá tiền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Services)
                {
                    <tr>
                        <td>
                            <strong>@service.ServiceName</strong>
                            <br />
                        </td>
                        <td>@service.Price</td>
                        <td>
                            <button class="btn detail-btn" @onclick="() => ViewDetails(service)">Chi tiết</button>
                            <button class="btn book-btn" @onclick="() => BookNow(service)">Đặt khám ngay</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
