:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Poppins", sans-serif;
    --nav-font: "Raleway", sans-serif;
}

:root {
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #2c4964; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #1977cc; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

:root {
    --nav-color: #2c4964; /* The default color of the main navmenu links */
    --nav-hover-color: #1977cc; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #2c4964; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #1977cc; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}


.light-background {
    --background-color: #f1f7fc;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
}

:root {
    scroll-behavior: smooth;
}

.left-panel {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
}

.info-title {
    padding-top: 10px;
    color: var(--accent-color);
    font-weight: bold;
}

.right-panel {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid;
    border-color: grey;
    border-radius: 20px;
    padding: 5px 20px;
    transition: 0.3s;
}

    .search-box input {
        border: none;
        outline: none;
        flex: 1;
        font-size: 16px;
        padding: 5px;
        font-family: var(--default-font)
    }

    .search-box .icon {
        color: gray;
        font-size: 18px;
    }

    .search-box:hover {
        border-color: var(--surface-color);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

.list-specialty-container {
    max-height: 300px; /* Giới hạn chiều cao */
    overflow-y: auto; /* Bật thanh cuộn dọc */
    border: 1px solid #ddd;
    padding: 10px;
}

.list-specialty-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.2s;
}

    .list-specialty-item:last-child {
        border-bottom: none;
    }

    .list-specialty-item:hover {
        background: #f0f0f0;
    }

.list-specialty-title {
    font-weight: bold;
    color: var(--accent-color);
}

.list-specialty-description {
    font-style: italic;
    color: grey;
}

.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

    .search-box input {
        border: none;
        outline: none;
        flex: 1;
        padding: 5px;
    }

    .search-box i {
        margin-left: 5px;
        color: gray;
    }

.no-results {
    text-align: center;
    font-style: italic;
    color: gray;
}

.service-table-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-table {
    width: 100%;
    max-height: 300px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

    .service-table th {
        background: var(--accent-color);
        color: var(--contrast-color);
        padding: 15px;
        text-align: left;
    }

    .service-table td {
        padding: 15px;
        border-bottom: 1px solid #eee;
    }

    .service-table tr:last-child td {
        border-bottom: none;
    }

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.detail-btn {
    background: var(--background-color);
    color: var(--accent-color);
    transition: 0.3s;
}

    .detail-btn:hover {
        border-color: var(--surface-color);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

.book-btn {
    background: var(--accent-color);
    color: var(--contrast-color);
}

    .book-btn:hover {
        border-color: var(--surface-color);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }