@page "/specialities/detail/{id:int}/services/create"

<h3>Tạo mới dịch vụ</h3>
<hr />

<EditForm Model="CreateModel" OnValidSubmit="HandleCreate" FormName="ServiceCreate" class="w-50">
	<DataAnnotationsValidator />

	<InputNumber hidden @bind-Value="CreateModel.SpecialityId" />
	<InputDate hidden @bind-Value="CreateModel.CreatedAt" />

	<div class="form-group m-2">
		<label class="control-label m-2">
			Tên dịch vụ
			<span class="text-danger">*</span>
		</label>
		<InputText class="form-control"
				   @bind-Value="CreateModel.ServiceName"
				   placeholder="Nhập tên dịch vụ..." />
		<ValidationMessage For="@(() => CreateModel.ServiceName)" class="text-danger" />
	</div>

	<div class="form-group m-2">
		<label class="control-label m-2">Mô tả</label>
		<InputTextArea class="form-control"
					   @bind-Value="CreateModel.Description"
					   placeholder="Nhập mô tả dịch vụ..." />
		<ValidationMessage For="@(() => CreateModel.Description)" class="text-danger" />
	</div>

	<div class="form-group m-2">
		<label class="control-label m-2">
			Giá
			<span class="text-danger">*</span>
		</label>
		<InputNumber class="form-control"
					   @bind-Value="CreateModel.Price"
					 placeholder="Nhập giá dịch vụ..." />
		<ValidationMessage For="@(() => CreateModel.Price)" class="text-danger" />
	</div>

	<div class="form-group row">
		<div class="col-md-8">
			<button type="submit" class="btn btn-success">Tạo mới</button>
		</div>
		<div class="col-md-4">
			<a class="btn btn-secondary" href="@($"/specialities/detail/{id}")">
				Về trang chi tiết chuyên khoa
			</a>
		</div>
	</div>
</EditForm>