<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />

    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="ChildCareCalendar.Admin.styles.css" />

    <link rel="icon" href="/assets/images/favicon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/fonts/inter/inter.css" id="main-font-link" />
    <link rel="stylesheet" href="/assets/fonts/tabler-icons.min.css" />
    <link rel="stylesheet" href="/assets/fonts/feather.css" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome.css" />
    <link rel="stylesheet" href="/assets/fonts/material.css" />

    <link rel="stylesheet" href="/assets/css/style.css" id="main-style-link" />
    <link rel="stylesheet" href="/assets/css/style-preset.css" />
    
    <base href="/" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

</body>

</html>
