@inherits LayoutComponentBase

<NavMenu />

<Header />

<div class="pc-container">
    <div class="pc-content">
        @Body
	</div>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="/login" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>
