@inherits LayoutComponentBase

<NavMenu />

<div class="pc-container">
	<div class="pc-content">
		<div class="card">
			<div class="card-body">
				@Body
			</div>
		</div>
	</div>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="/login" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>