@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider

<NavMenu />

@* <Header /> *@

<div class="pc-container">
	<div class="pc-content" style="padding-bottom: 20px">
		@Body
	</div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await UserSession.InitializeAsync(AuthStateProvider);
    }
}